section {
    background-color: #d8d9df;
}

.stAppHeader{
    display: none;
}

/* st-emotion-cache-1wmy9hl e1f1d6gn1 */
/* class="stColumn st-emotion-cache-6vw1hb e1f1d6gn3 */

.e1f1d6gn1 {
    background-color: blue;
}